@tailwind base;
body {
  margin: 0;
}

@tailwind components;
button {
  cursor: pointer;
}

@tailwind utilities;
link::hover {
  @apply text-red-500;
}

@layer components {
  .robo-font {
    font-family: var(--font-sulphur-point);
  }

  /* For Webkit-based browsers  */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
